/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
  }
  
  .sidebar h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
  
  .sidebar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #555;
  }
  
  .sidebar ul li a.active {
    background-color: #666;
  }
  
  #child-det {
    text-align: center;
    width: 100%;
    height: auto;
  }

  .content {
    display: inline-block; /* Display as inline-block */
    padding: 20px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    margin-bottom: 20px; /* Add bottom margin */
    width: 60%; /* Set width to 60% of the container */
    margin: 50px auto; /* Center horizontally and add margin to the top */
}

  
  label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
  }
  
  select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  #childDetails {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  #foot{
    width: 100%;
    height: auto;
    background-color: #333;
  }
  #footer{
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
  }
